<h1>YOU BOUGHT WINE!!</h1>

<!-- <h2><%= @order.product.name %></h2>
<h2><%= @order.subtotal %></h2>
<h2><%= @order.tax %></h2>
<h2><%= @order.total %></h2> -->
<div class="well">
<% @order.carted_products.each do |carted_product| %>
	<div>Name: <%= carted_product.product.name %> - <%= carted_product.product.price%> X <%= carted_product.quantity%></div>

<% end %>	</div>