<h2>Name: <%= @product.name %></h2>






	<% @product.images.each do |image|  %>
		<img src= <%= @product.first_image_url %>> 
	<% end %>

	<h2>Description: <%= @product.description %></h2>
	<h2 class="<%= "red-price" if @product.discounted? %>">Price: <%= number_to_currency(@product.price) %></h2>
	<h3>Tax: <%= number_to_currency(@product.tax) %></h3>
	<h3>Total Cost: <%= number_to_currency(@product.total_cost) %></h3>
	<h3> <%= @product.sale_message %> </h3>
	<br>

	<h5> <%= @product.supplier.name %></h5>

	<h3>Drink Up!</h3>

	<%= form_tag "/orders", method: :post do %>
			<div>
				
				<%= text_field_tag :quantity, nil, placeholder: "Quantity" %>
			</div>
			
				
				<%= hidden_field_tag :product_id, @product.id%>
			
			

			<div> <%= submit_tag "Buy Now!!", class: "btn btn-primary"%> </div>
	<% end %>
	

<%= link_to "Edit Product", "/products/#{@product.id}/edit" %>
<%= link_to "Delete", "/products/#{ @product.id}", method: :delete %>