<h2>Name: <%= @product.name %></h2>
	<img src= <%= @product.image %>> 
	<h2>Description: <%= @product.description %></h2>
	<h2>Price: $<%= @product.price %></h2>
	<h3>Tax: <%= @product.tax %></h3>
	<h3>Total Cost: <%= @product.total_cost %></h3>
	<h3> <%= @product.sale_message %> </h3>
	<br>

<%= link_to "Edit Product", "/products/#{@product.id}/edit" %>
<%= link_to "Delete", "/products/#{ @product.id}", method: :delete %>